.title {
    -webkit-text-fill-color: rgb(99, 11, 186);
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
}

.form {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(160, 234, 160);
    height: 100vh;
}
 
.label {
    display: block;
    font-size: larger;
    font-style: normal;
    color: rgb(226, 120, 13);
    padding: 5px;
}
 
.input {
    font-size: larger;
    padding: 5px;
    margin: 5px;
    width: 50%;
}
 
.btn {
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
}
 
.messages {
    display: flex;
    justify-content: center;
}
 
.error {
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
}
 
.success {
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
}